# Ignore everything by default.
*

# The gitignore of this repository itself (!)
!.gitignore

# Include neovim configuration files.
!nvim/
!nvim/**

# Include fish configuration files.
!fish/
!fish/**

# Include kitty configuration files.
!kitty/
!kitty/**

# Include snippets.
!snippets/
!snippets/**
