# Ignore everything by default.
*

# The gitignore of this repository itself (!)
!.gitignore

# Include git configuration files.
!.gitconfig
!.git_commit_template

# Include starship configuration file.
!starship.toml

# Include neovim configuration files.
!nvim/
!nvim/**

# Include fish configuration files.
!fish/
!fish/**

# Include kitty configuration files.
!kitty/
!kitty/**

# Include bat configuration files.
!bat/
!bat/**

# Include bottom configuration files.
!bottom/
!bottom/**
