[user]
	name = dyyyl
	email = hey@dyyyl.rocks

[core]
  editor = nvim

[commit]
  template = ~/.git_commit_template

[alias]
  recent = ! git branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\" | head -10

[alias]
  smartlog = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)[%H]%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)[%ae]%Creset%n%C(cyan)%s%n%Creset'

[alias]
  last = log -1 HEAD
