[user]
	name = dyyyl
	email = hey@dyyyl.rocks

[core]
  editor = nvim
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta "catppuccin-frappe"]
	blame-palette = "#303446 #292c3c #232634 #414559 #51576d"
	commit-decoration-style = "box ul"
	dark = true
	file-decoration-style = "#c6d0f5"
	file-style = "#c6d0f5"
	hunk-header-decoration-style = "box ul"
	hunk-header-file-style = "bold"
	hunk-header-line-number-style = "bold #a5adce"
	hunk-header-style = "file line-number syntax"
	line-numbers = true
	line-numbers-left-style = "#737994"
	line-numbers-minus-style = "bold #e78284"
	line-numbers-plus-style = "bold #a6d189"
	line-numbers-right-style = "#737994"
	line-numbers-zero-style = "#737994"
	# 25% red 75% base
	minus-emph-style = "bold syntax #5e4855"
	# 10% red 90% base
	minus-style = "syntax #433c4c"
	# 25% green 75% base
	plus-emph-style = "bold syntax #4e5c57"
	# 10% green 90% base
	plus-style = "syntax #3c444e"
	# Should match the name of the bat theme
	syntax-theme = "Catppuccin-frappe"

[delta]
  navigate = true
  side-by-side = true
  light = false
  features = catppuccin-frappe

[init]
  defaultBranch = main

[commit]
  template = ~/.git_commit_template
  verbose = true

[push]
  autosetupremote = true

[merge]
  conflictstyle = zdiff3

[rebase]
  autosquash = true

[alias]
  recent = ! git branch --sort=-committerdate --format=\"%(committerdate:relative)%09%(refname:short)\" | head -10

[alias]
  smartlog = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)[%H]%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)[%ae]%Creset%n%C(cyan)%s%n%Creset'

[alias]
  last = log -1 HEAD
